<main id="profile-container">
  <section class="section-title">
    <div>
      <div class="profile">
        <h1>My profile</h1>
        <img src="/assets/imgs/profilephoto.jpg" />
        <link rel="stylesheet" href="/stylesheet/myProfile.css" />
        <div class="profile-bg">
        </div>
      </div>
    </div>
  </section>

  <div class="questions-wrapper">
    <div class="basic-info">
      <input type="hidden" id="userId" value="{{ user.id }}" />
      <h3>Username: <span>{{ user.username }}</span></h3>
      <h3>Age: <span>{{ user.age }}</span></h3>
      <h3>Gender: <span> {{ user.gender }}</span></h3>
      <h3>Sexual Orientation: <span> {{ user.sexual_orientation }}</span></h3>
    </div>
    <p class="hiden p-title">Answer to the 10 most asked questions in a first
      date in order to complete your profile</p>
    <div class="cont">
      <!--First impression phrase-->
      <div class="question-box phrase">
        <h3 class="question-title">First impression phrase that other users will
          see:</h3>
        <div class="question-btn">
          <input type="text" class="input-question" id="question-11" />
          <button id="edit-btn11" class="edit-btn hide"><i
              class="fa-solid fa-pen-to-square"
            ></i></button>
        </div>
      </div>
      <section id="questions" class="questions-container">

        <!--Question1-->
        <div class="question-box">
          <h3>What do you most love to do in your free time?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-1" />
            <button id="edit-btn1" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question2-->
        <div class="question-box">
          <h3>"What are your favourite TV shows?"</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-2" />
            <button id="edit-btn2" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question3-->
        <div class="question-box">
          <h3 class="question-title">What is your favorite music genre?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-3" />
            <button id="edit-btn3" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question4-->
        <div class="question-box">
          <h3 class="question-title">What is a BIG NO on the first date?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-4" />
            <button id="edit-btn4" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question5-->
        <div class="question-box">
          <h3 class="question-title">What is one activity that you would like to
            do on a date?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-5" />
            <button id="edit-btn5" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question6-->
        <div class="question-box">
          <h3 class="question-title">How do you define your personality?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-6" />
            <button id="edit-btn6" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question7-->
        <div class="question-box">
          <h3 class="question-title">What is your sign?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-7" />
            <button id="edit-btn7" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question8-->
        <div class="question-box">
          <h3 class="question-title">What is your current occupation?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-8" />
            <button id="edit-btn8" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question9-->
        <div class="question-box">
          <h3 class="question-title">What is your best quality?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-9" />
            <button id="edit-btn9" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>

        <!--Question10-->
        <div class="question-box">
          <h3 class="question-title">"What are you looking for in a
            relationship?</h3>
          <div class="question-btn">
            <input type="text" class="input-question" id="question-10" />
            <button id="edit-btn10" class="edit-btn hide"><i
                class="fa-solid fa-pen-to-square"
              ></i></button>
          </div>
        </div>
      </section>
      <div id="save-btn-container">
        <button id="save-btn" class="save-btn">Save</button>
      </div>
    </div>
  </div>

</main>

<script src="/javascript/profile.js"></script>